<div class="container">
    <div class="create_form">
          
        <mat-form-field>
            <mat-label>Data</mat-label>
            <input matInput required [matDatepicker]="picker" #date [(ngModel)]="selectedDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Tipo:</mat-label>
            <select matNativeControl required [(ngModel)]="selectedLeagueType">
              <option value="semanal">Semanal</option>
              <option value="quinzenal">Quinzenal</option>
              <option value="1k">1k</option>
            </select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Rodadas</mat-label>
            <input matInput [(ngModel)]="rounds" type="number">
        </mat-form-field>

    </div>
    <div class="create_form__player_section">
        <h2>Adicionar players</h2>
        <button mat-raised-button (click)="toggleMtg()">MTGArena</button>
        <button mat-raised-button (click)="toggleBandai()">BandaiTCG</button>
        <ng-container *ngIf="isMtg">
            <div *ngFor="let player of players" class="player_section__form">
                <mat-form-field class="example-full-width">
                    <mat-label>Nome / ID Bandai</mat-label>
                    <input matInput [(ngModel)]="player.name">
                </mat-form-field>
    
                <mat-form-field class="example-full-width">
                    <mat-label>Pontos</mat-label>
                    <input matInput [(ngModel)]="player.points">
                </mat-form-field>
            </div>
            <button mat-raised-button (click)="pushNewPlayer()" class="create_form__add_button">+</button>
            <button mat-flat-button (click)="createNewLeague()" style="margin-bottom: 10em; height: 3em; width: 10em;">Cadastrar</button>
        </ng-container>

        <ng-container *ngIf="isBandai">
            <div class="bandai_file_form">
                <input type="file" #fileUpload (change)="onFileSelected($event)">
            </div>
            <button mat-raised-button (click)="sendFile()">Enviar</button>
        </ng-container>
       
    </div>
</div>
  