<div class="container">
    <div class="create_form">
        <div *ngFor="let option of storeOptions" class="create_form__radio">
            <label for="name">{{option}}</label>
            <input id="name" type="radio" [value]="option" [(ngModel)]="selectedStore">
        </div>
        <div class="create_form__date">
            <label>Inicio: </label>
            <input type="date" [(ngModel)]="league.startDate">
        </div>
        <div class="create_form__date">
            <label>Final: </label>
            <input type="date" [(ngModel)]="league.endDate">
        </div>
        <div class="create_form__select">
            <label>Tipo: </label>
            <select [(ngModel)]="selectedLeagueType">
                <option value="semanal">Semanal</option>
                <option value="quinzenal">Quinzenal</option>
                <option value="1k">1K</option>
            </select>
        </div>
        <div class="create_form__select">
            <label>Jogo: </label>
            <select [(ngModel)]="selectedGame">
                <option value="one_piece">One Piece</option>
                <option value="magic_pauper">Magic Pauper</option>
                <option value="magic_pioneer">Magic Pioneer</option>
            </select>
        </div>
        <div class="create_form__player_section">
            <p>Adicionar players</p>
            <div *ngFor="let player of players" class="player_section__form">
                <div>
                    <label>Nome: </label>
                    <input type="text" [(ngModel)]="player.name">
                </div>
                <div>
                    <label>Pontos: </label>
                    <input type="number" [(ngModel)]="player.points">
                </div>
            </div>
            <button (click)="pushNewPlayer()" class="create_form__add_button">+</button>
        </div>
        <button (click)="createNewLeague()" style="margin-bottom: 10em; height: 3em; width: 10em;">Cadastrar</button>
    </div>
</div>