.container {
    width: 100%;
    margin: auto;
}

.create_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.create_form__player_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        margin-top: 2em;
        width: 8em;
    }
}

.player_section__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    div {
        margin: 1em 0 0 1em;
    }
}