<div class="container">
    <div *ngFor="let league of leagues">
        <h2><b>Loja:</b> {{league.storeName}}</h2>
        <h2><b>Jogo:</b> {{gameNameFormat(league.game)}}</h2>
        <h2><b>Dia:</b> {{dateFormat(league.date)}}</h2>
        <table mat-table [dataSource]="sortByPoints(league.players)" class="mat-elevation-z8">
    
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let player"> {{league.players.indexOf(player) + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let player"> {{player.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef>Pontos</th>
            <td mat-cell *matCellDef="let player"> {{player.points}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
