<div class="container">
    <div class="container__options">
        <div class="options__search">
            <div class="search__input">
                <label for="date">Buscar liga por data:</label>
                <input type="date" #date>
            </div>
            <button (click)="searchLeagueWithDate(date.value)">🔎</button>
        </div>
        <div class="options__search">
            <div class="search__input">
                <label for="date">Buscar liga por range:</label>
                <input type="date" #dateStart> até <input type="date" #dateEnd>
            </div>
            <button (click)="searchLeagueWithDateRange(dateStart.value, dateEnd.value)">🔎</button>
        </div>
        <a routerLink="/liga/criar">Criar nova liga</a>
    </div>
    <div class="container__league" *ngIf="leagues">
        <app-list [leagues]="leagues"></app-list>
    </div>
</div>