.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__options {
    display: flex;
    gap: 2em;
    flex-direction: column;
    width: 60%;
}

.container__options a {
    font-size: 1.5rem;
    cursor: pointer;
}

.options__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.options__search {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
}

.options__search label {
    font-weight: 700;
}

.search__input {
    display: flex;
    gap: 0.5em;
    align-items: baseline;
}

.container__league {
    margin-top: 5em;
    font-size: 1.3rem;
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .search__input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .options__search {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .options__grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    button {
        width: 100%;
    }
    
}